.modalContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.dialogPanel {
  max-width: 32rem;
  border: 1px solid #e5e7eb;
  background-color: white;
  padding: 3rem;
  background-color: beige;
  border-radius: 18px;
}

.modalMenu {
  display: flex;
  gap: 1rem;
}

.dialogTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog {
  position: relative;
  z-index: 50;
}

.dialogBackdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.modalButton {
  font-family: "Roboto", sans-serif;
  border: solid transparent;
  border-radius: 12px;
  border: 1px;

  background-color: #f4c2c2;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
}

/* .dialogPanel > * + * {
  margin-top: 1rem;
} */
