.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* margin: 0 auto; */
  /* height: 50vh; set to half the page */
}

.error {
  justify-content: space-between;
  display: flex;
  border: 3px solid red;
  align-content: center;
  padding: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: red;
}
